body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo img {
    max-height: 100px;
    margin-left: -126px;
}
nav{
    color: red;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
h1{
    margin: 31px 316px 34px 49px;
    text-align: center;
}
.about body{
    background-image: url('h3about.avif');
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
h2{
    color: darkred;
}

.text p{
    max-width: 70%;
    color: rgb(51, 251, 1);

}

.image img {
    max-width: 100%;
    height: auto;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form select {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}